@mixin backgroundWhite {
  background-color: white;
}

.banner__section {
  height: auto;
  width: 100%;
  .banner__container {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
    .banner__title--container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      border-radius: 30px;
      padding: 3rem;
      background-color: white;
      h2 {
        margin: 0;
        color: black;
        font: {
          size: 3rem;
          weight: bold;
        }
      }
      p {
        margin: 0;
        font-size: 1.3rem;
      }
    }
    .banner__cta--container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 100%;

      @media (min-width: 37rem) {
        flex-direction: row;
        width: 80%;
      }
      .banner__cta--card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 50%;
        width: 50%;
        margin: 1rem;
        padding: 1rem;
        border: #0000009a solid 2px;
        border-radius: 15px;
        @include backgroundWhite();
        p {
          margin: 0.3rem;
          font-size: 1rem;
          color: black;
          text-align: center;
        }
        button {
          background-color: yellow;
          color: brown;
          border : {
            color: #681515;
            width: 3px;
            radius: 7px;
          }
        }
      }
    }
  }
}
