.signup__section {
  display: flex;
  justify-content: center;
  .signup__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
    width: 60%;
    label {
      text-align: right;
    }
    input {
      margin-bottom: 1rem;
      // direction: rtl;
    }
    button {
      width: 4rem;
      height: 3rem;
      // margin: auto;
    }
  }
}
